* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: cornsilk;
    
}

.header{
    border: 5px solid firebrick;
    margin: 60px;
    padding: 30px;
    height: 300px;
    width: 300px;
    display: inline-block;
    overflow: auto;
}

a {
    border: 5px solid firebrick;
    margin: 60px;
    padding: 30px;
    height: 300px;
    width: 300px;
    display: inline-block;
    overflow: auto;
}

img {
    border: 5px solid firebrick;
    margin: 60px;
    padding: 30px;
    height: 300px;
    width: 300px;
    display: inline-block;
    box-sizing: border-box;
    overflow: auto;
}

p {
    border: 5px solid firebrick;
    margin: 60px;
    padding: 30px;
    height: 300px;
    width: 300px;
    display: inline-block;
}